{{ define "main" }}
	<article class="max-w-full">
		<header>
			<h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
				{{ .Params.position }}, {{ .Params.company }}
			</h1>
		</header>
		<section class="max-w-full mt-6 prose dark:prose-invert">
			Basic info:
			<ul>
				<li>Period: <strong>{{ .Params.start }} - {{ .Params.end }}</strong></li>
				<li>Position: <strong>{{ .Params.position }}</strong></li>
				<li>Team: <strong>{{ .Params.team }}</strong></li>
				<li>Company: <strong>{{ .Params.company }}</strong></li>
				<li>Location: <strong>{{ .Params.location }}</strong></li>
			</ul>
			{{ .Content }}
			<br />
			<a href="../">Go back to list</a>
		</section>
	</article>
{{ end }}
